{% include 'menu.html' %}

{% block content %}
<!-- Bloque 4: Formulario para introducir otro ID de venta -->


<!-- Búsqueda de ficha -->
<div class="row justify-content-center">
    <div class="col-md-4">
        <form action="{{ url_for('consultar_tarjeta', usuario=usuario) }}" method="post">
            <div class="form-row align-items-center text-center">
                <!-- Label centrado verticalmente entre el cuadro de texto y el botón -->
                <div class="col mb-2">
                    <label for="id_venta" class="d-block">Nº DE TARJETA:</label>
                </div>
                <!-- Cuadro de texto -->
                <div class="col">
                    <input type="text" name="id_venta" class="form-control" required>
                </div>
                <!-- Botón centrado verticalmente -->
                <div class="col">
                    <button type="submit" class="btn btn-primary btn-block">Consultar</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="jumbotron text-center">

    <!-- Encabezado -->
    <div class="row mb-2 border-bottom">
        <div class="col-12">
            <h4>Encabezado:</h4>
            {% if resultados_encabezado %}
            <div class="row">
                <!-- Grupo 1 -->
                <div class="col-md-4 mb-2">
                    <label><strong>Nº Fac:</strong></label>
                    <span>{{ resultados_encabezado[0]['Nº Fac'] }}</span>
                </div>
                <div class="col-md-4 mb-2">
                    <label><strong>F. Venta:</strong></label>
                    <span>{{ resultados_encabezado[0]['F. Venta'] }}</span>
                </div>
                <div class="col-md-4 mb-2">
                    <label><strong>Vendedor:</strong></label>
                    <span>{{ resultados_encabezado[0]['Vendedor'] }}</span>
                </div>
                <div class="col-md-4 mb-2">
                    <label><strong>Periosidad de cobro:</strong></label>
                    <span>{{ resultados_encabezado[0]['Periosidad de cobro'] }}</span>
                </div>
                <div class="col-md-4 mb-2">
                    <label><strong>Cerrado:</strong></label>
                    <span>{{ resultados_encabezado[0]['Cerrado'] }}</span>
                </div>
                <!-- Grupo 2 -->
                <div class="col-md-4 mb-2">
                    <label><strong>Nombre:</strong></label>
                    <span>{{ resultados_encabezado[0]['Nombre'] }}</span>
                </div>
                <div class="col-md-4 mb-2">
                    <label><strong>Apellido:</strong></label>
                    <span>{{ resultados_encabezado[0]['Apellido'] }}</span>
                </div>
                <div class="col-md-4 mb-2">
                    <label><strong>DNI:</strong></label>
                    <span>{{ resultados_encabezado[0]['DNI'] }}</span>
                </div>
                <div class="col-md-4 mb-2">
                    <label><strong>Teléfono:</strong></label>
                    <span>{{ resultados_encabezado[0]['Teléfono'] }}</span>
                </div>
                <div class="col-md-4 mb-2">
                    <label><strong>Dirección:</strong></label>
                    <span>{{ resultados_encabezado[0]['Dirección'] }}</span>
                </div>
                <!-- Grupo 3 -->
                <div class="col-md-4 mb-2">
                    <label><strong>Importe Venta:</strong></label>
                    <span>{{ resultados_encabezado[0]['Importe Venta'] }}</span>
                </div>
                <div class="col-md-4 mb-2">
                    <label><strong>Importe Inicial:</strong></label>
                    <span>{{ resultados_encabezado[0]['Importe Inicial'] }}</span>
                </div>
                <div class="col-md-4 mb-2">
                    <label><strong>Imp Pendiente:</strong></label>
                    <span>{{ resultados_encabezado[0]['Imp Pendiente'] }}</span>
                </div>
                <div class="col-md-4 mb-2">
                    <label><strong>Imp Cuotas Pagadas:</strong></label>
                    <span>{{ resultados_encabezado[0]['Imp Cuotas Pagadas'] }}</span>
                </div>
                <div class="col-md-4 mb-2">
                    <label><strong>Nº Cuotas Pagadas:</strong></label>
                    <span>{{ resultados_encabezado[0]['Nº Cuotas Pagadas'] }}</span>
                </div>
                <div class="col-md-4 mb-2">
                    <label><strong>F. Proxima Cuota:</strong></label>
                    <span>{{ resultados_encabezado[0]['F. Proxima Cuota'] }}</span>
                </div>
            </div>
            {% else %}
            <p>No hay resultados para mostrar en el encabezado.</p>
            {% endif %}
        </div>
    </div>

    <!-- Productos -->
    <div class="row mb-4 border-bottom">
        <div class="col-12">
            <h4>Productos:</h4>
            <div class="table-responsive">
                {% if resultados_productos %}
                <table class="table table-striped" style="width:100%; text-align:left;">
                    <thead>
                        <tr>
                            {% for key, value in resultados_productos[0].items() %}
                            <th>{{ key }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in resultados_productos %}
                        <tr>
                            {% for key, value in row.items() %}
                            <td>{{ value }}</td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <p>No hay resultados de productos para mostrar.</p>
                {% endif %}
            </div>
        </div>
    </div>

    <!-- Detalles de Cuotas -->
    <div class="row mb-4">
        <div class="col-12">
            <h4>Detalles de Cuotas:</h4>
            <div class="table-responsive">
                {% if resultados_cuotas %}
                <table class="table table-striped" style="width:100%; text-align:left;">
                    <thead>
                        <tr>
                            {% for key, value in resultados_cuotas[0].items() %}
                            <th>{{ key }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in resultados_cuotas %}
                        <tr>
                            {% for key, value in row.items() %}
                            <td>{{ value }}</td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <p>No hay detalles de cuotas para mostrar.</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
