{% include 'menu.html' %}

{% block content %}

<style>

  #pueblos {
      max-width: 200px;
      width: 100%;
      box-sizing: border-box;
  }
</style>
<input type="hidden" id="usuarioConectado" value="{{ usuario }}">

<div class="container mt-4">
  <!-- Módulo 1: Buscador de Cliente -->
  <div class="card mb-4">
    <div class="card-header"><strong>Buscador de Cliente</strong></div>
    <div class="card-body">
      <div class="form-group">
        <label for="cliente">Buscar Cliente:</label>
        <select class="form-control" id="cliente" style="width: 100%;">
          <!-- <option value="1" selected>CLIENTE GENERICO</option> -->
          <!-- Opciones se llenarán dinámicamente -->
        </select>
      </div>
      
      <!-- Acordeón para Nuevo Cliente -->
      <div class="accordion mb-4" id="accordionNuevoCliente">
        <div class="card">
          <div class="card-header" id="headingNuevoCliente">
            <h2 class="mb-0">
              <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseNuevoCliente" aria-expanded="true" aria-controls="collapseNuevoCliente">
                Nuevo Cliente
              </button>
            </h2>
          </div>

          <div id="collapseNuevoCliente" class="collapse" aria-labelledby="headingNuevoCliente" data-parent="#accordionNuevoCliente">
            <div class="card-body">
              <form id="formNuevoCliente" class="form-horizontal">
                <div class="row">
                  <!-- Columna 1 -->
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="Nombres" id="campoinicial">Nombres</label>
                      <input type="text" class="form-control" id="Nombres" name="Nombres" placeholder="Nombres" tabindex="1" oninput="convertirAMayusculas(this)" required>
                    </div>
                    <div class="form-group">
                      <label for="Telefono1">Teléfono 1</label>
                      <input type="text" class="form-control" id="Telefono1" name="Telefono1" tabindex="3" placeholder="Telefono1" required>
                    </div>
                    <div class="form-group">
                      <label for="Telefono3">Teléfono 3</label>
                      <input type="text" class="form-control" id="Telefono3" name="Telefono3" placeholder="Telefono3">
                    </div>
                    <div class="form-group">
                      <label for="Ubicacion">Ubicación</label>
                      <input type="text" class="form-control" id="Ubicacion" name="Ubicacion" placeholder="Ubicacion">
                    </div>
                  </div>
                  <!-- Columna 2 -->
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="Apellidos">Apellidos</label>
                      <input type="text" class="form-control" id="Apellidos" name="Apellidos" tabindex="2" placeholder="Apellidos" oninput="convertirAMayusculas(this)">
                    </div>
                    <div class="form-group">
                      <label for="DNI">DNI</label>
                      <input type="text" class="form-control" id="DNI" name="DNI" placeholder="DNI" tabindex="5" oninput="convertirAMayusculas(this)" required >
                    </div>
                    <div class="form-group">
                      <label for="Telefono2">Teléfono 2</label>
                      <input type="text" class="form-control" id="Telefono2" name="Telefono2" placeholder="Telefono2">
                    </div>
                    <div class="form-group">
                      <label for="Direccion">Dirección</label>
                      <input type="text" class="form-control" id="Direccion" name="Direccion" placeholder="Direccion" tabindex="4" oninput="convertirAMayusculas(this)" required>
                    </div>
                    <div class="form-group">
                      <label for="Nota">Nota</label>
                      <input type="text" class="form-control" id="Nota" name="Nota" placeholder="Nota">
                    </div>
                  </div>
                </div>
                <button type="button" id="crearClienteBtn" tabindex="6" class="btn btn-primary">Crear Cliente</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    <!-- Módulo 2: Productos -->
    <div class="card mb-4">
      <div class="card-header"><strong>Productos</strong></div>
      <div class="card-body">
        <!-- Aquí va el contenido del segundo módulo -->
        <div class="form-group">
          <label for="producto">Buscar Producto:</label>
          <select class="form-control" id="producto" style="width: 100%;">
            <option value="47" selected>Generico</option>
            <!-- Opciones se llenarán dinámicamente -->
          </select>
        </div>
        <div class="form-group">
          <label for="cantidad">Cantidad:</label>
          <input type="number" class="form-control" id="cantidad" value="1" required>
        </div>
      </div>
    </div>
  
    <!-- Módulo 3: Detalles de la Tarjeta -->
    <div class="card mb-4">
      <div class="card-header"><strong>Detalles de la Tarjeta</strong></div>
      <div class="card-body">
        <form id="formDetallesTarjeta" class="form-row">
          <div class="form-group col-md-2">
            <label for="NumTarjeta">Núm. Tarjeta</label>
            <input type="text" class="form-control" id="NumTarjeta" name="NumTarjeta" required>
          </div>
          <div class="form-group">
            <label for="FVenta">Fecha de Venta:</label>
            <input type="text" id="FVenta" name="FVenta" class="form-control" placeholder="Seleccione Fecha y Hora" required>
          </div>
          <div class="form-group col-md-2">
            <label for="ImporteVenta">Importe Venta</label>
            <input type="number" class="form-control" id="ImporteVenta" name="ImporteVenta" required>
            <small id="formattedImporteVenta"></small>
          </div>
          <div class="form-group col-md-2">
            <label for="ImporteInicial">Importe Inicial</label>
            <input type="number" class="form-control" id="ImporteInicial" name="ImporteInicial" required>
            <small id="formattedImporteInicial"></small>
          </div>
          <div class="form-group col-md-2">
            <label for="NumCuotas">Núm. Cuotas</label>
            <input type="number" class="form-control" id="NumCuotas" name="NumCuotas" value="6" required>
          </div>

          <div class="form-group">
            <label for="FProxCuota">Fecha de Próxima Cuota:</label>
            <input type="text" id="FProxCuota" name="FProxCuota" class="form-control" placeholder="Seleccione Fecha" required>
          </div>

          <div class="form-group col-md-2">
            <label for="ciudad">Ciudad</label>
            <select id="ciudad" class="form-control" name="pueblo">
                <option value="BAHÍA BLANCA" selected>BAHÍA BLANCA</option>
                <option value="MONTE HERMOSO">MONTE HERMOSO </option>
                <option value="CORONEL DORREGO">CORONEL DORREGO</option>
                <option value="PUNTA ALTA">PUNTA ALTA</option>
                <option value="GENERAL DANIEL CERRI">GENERAL DANIEL CERRI</option> 
                <option value="otro">OTRO</option>
            </select>
          </div>

          <div class="form-group col-md-2">
            <label for="responsable">Responsable</label>
            <select id="responsable"class="form-control" name="pueblo">
                <option value="FRAY" selected>FRAY</option>
                <option value="PARRA">PARRA </option>
                <option value="FRANCO">FRANCO</option>
                <option value="otro">OTRO</option>
            </select>
          </div>

          <div class="form-group">
            <label for="comentario">Comentario:</label>
            <textarea class="form-control" id="comentario" rows="4" placeholder="Escribe tu comentario aquí..."></textarea>
        </div>

          <div class="form-group col-md-2">
            <label for="tipoCompromiso" id="comentario">Tipo Compromiso</label>
            <select class="form-control" id="tipoCompromiso" name="tipoCompromiso" required>
              <option value="3" selected>MENSUAL</option>
              <!-- Opciones se llenarán dinámicamente -->
            </select>
          </div>
        </form>
        <button type="button" id="crearTarjetaTotalBtn" class="btn btn-primary mt-3">Crear Tarjeta</button>
      </div>
    </div>

    <div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="successModalLabel">Éxito</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            La tarjeta se ha creado correctamente con el ID: <span id="encabezadoId"></span>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="errorModalT" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="errorModalLabel">Éxito</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          La tarjeta con el numero <span id="NumTarjetaT"></span> ya existe en la BBDD.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</div>


<script>


function formatCurrency(amount) {
  return "$" + parseFloat(amount).toLocaleString("en-US", {style: 'decimal', minimumFractionDigits: 2, maximumFractionDigits: 2});
}

$("#ImporteVenta, #ImporteInicial").on("input", function() {
  var id = $(this).attr('id');
  var value = $(this).val();
  var formattedValue = formatCurrency(value);
  $("#formatted" + id).text(formattedValue);
});

function resetFormFields() {
    // Restablecer campos de texto y número
    //$('input[type="text"], input[type="number"]').val('');
    $("#formattedImporteVenta").text("");
    $("#formattedImporteInicial").text("");
    $("#ImporteVenta").val('');
    $("#ImporteInicial").val('');
    $("#cantidad").val('1');
    $("#NumCuotas").val('6');
    $("#NumTarjeta").val('');
    $("#FVenta").val('');
    $("#FProxCuota").val('');
    $("#Comentario").val('');

    
    
    // Restablecer desplegables Select2
    //$('#cliente').val(null).trigger('change');
    //$('#producto').val(null).trigger('change');
    //$('#tipoCompromiso').val(null).trigger('change');
    
    // Ocultar el acordeón de nuevo cliente
    $('#collapseNuevoCliente').collapse('hide');
}

$(document).ready(function() {
  flatpickr("#FVenta", {
  enableTime: true,
  dateFormat: "Y-m-d H:i:S"
});
flatpickr("#FProxCuota", {
  enableTime: false,  // Solo fecha, sin tiempo
  dateFormat: "Y-m-d"  // Formato de fecha
});
    // Inicializar Select2 para clientes
    $('#cliente').select2({
        ajax: {
            url: '/get_clientes',  // Ruta del backend que devuelve los clientes
            dataType: 'json'
        }
    });
    // Escuchar cambios en el desplegable de clientes
    $('#cliente').on('change', function() {
        const selectedValue = $(this).val();
        
        // Si el valor seleccionado es 'nuevo', desplegar el acordeón
        if (selectedValue === 'nuevo') {
            $('#collapseNuevoCliente').collapse('show');
        } else {
            $('#collapseNuevoCliente').collapse('hide');
        }
    });

  // Solicitar el siguiente número de tarjeta al cargar la página
  $.ajax({
      url: '/get_next_num_tarjeta',
      type: 'GET',
      success: function(response) {
          if (response.next_id) {
              $('#NumTarjeta').val(response.next_id);
          }
      },
      error: function(xhr, status, error) {
          console.error('Error:', error, status, xhr.responseText);
      }
  });


    // Inicializar Select2 para productos
    $('#producto').select2({
        ajax: {
            url: '/get_productos',  // Ruta del backend que devuelve los productos
            dataType: 'json'
        }
    });
 // Inicializar Select2 para TipoCompromisos
 $('#tipoCompromiso').select2({
                ajax: {
                    url: '/get_tipos_compromiso',
                    dataType: 'json',
                    processResults: function (data) {
                        return {
                            results: data.results
                        };
                    }
                }
            });

            // Establecer "MENSUAL" como valor por defecto
            $('#tipoCompromiso').val(3).trigger('change');
    // Mostrar campos para nuevo cliente si no se encuentra en la búsqueda
    $('#cliente').on('select2:select', function (e) {
        var data = e.params.data;
        if(data.id === 'nuevo') {
            $('#nuevoCliente').show();
        } else {
            $('#nuevoCliente').hide();
        }
    });

    // Obtener el usuario conectado desde el campo oculto
    var usuarioConectado = $('#usuarioConectado').val();

    // Manejar el clic en el botón para crear un nuevo cliente
    $('#crearClienteBtn').click(function(e) {
        e.preventDefault();  // Evitar que el formulario se envíe automáticamente
        var formData = $('#formNuevoCliente').serializeArray().reduce(function(obj, item) {
            obj[item.name] = item.value;
            return obj;
        }, {});
        formData['accion'] = 'crear_cliente';

        // Construir la URL dinámicamente con el usuario conectado
        var urlDinamica = '/menu/tarjetas/crear/' + usuarioConectado;

        // Hacer la petición POST para crear el cliente
        $.ajax({
            url: urlDinamica,  // Usar la URL dinámica
            type: 'POST',
            data: JSON.stringify(formData),
            contentType: 'application/json',
            success: function(response) {
                if (response.message) {
                    alert(response.message);
                    resetFormFields();
                }
            },
            error: function(xhr, status, error) {
                console.error('Error:', error, status, xhr.responseText);
            }
        });
    });

    // Manejar el clic en el botón para crear una nueva tarjeta
    $('#crearTarjetaTotalBtn').click(function(e) {
        e.preventDefault();
        var clienteId = $('#cliente').val();
        var productoId = $('#producto').val();
        var cantidad = $('#cantidad').val();
        var tipoCompromiso = $('#tipoCompromiso').val();
        var NumTarjeta = $('#NumTarjeta').val();
        var responsable = $('#responsable').val();
        var ciudad = $('#ciudad').val();
        var comentario = $('#comentario').val();

        if(!clienteId) {
            alert("Por favor, seleccione un cliente.");
            return;
        }

        if(!productoId) {
        alert("Por favor, seleccione un producto.");
        return;
        }

        if(!cantidad) {
        alert("Por favor, establezca una cantidad.");
        return;
        }

        if(!tipoCompromiso) {
            alert("Por favor, seleccione un tipo de compromiso.");
            return;
        }
        console.log("Cliente ID: ", clienteId);
        console.log("Producto ID: ", productoId);
        console.log("cantidad: ", cantidad);
        console.log("tipoCompromiso: ", tipoCompromiso);
        console.log("NumTarjeta: ", NumTarjeta);
        console.log("Ciudad: ", ciudad);
        console.log("responsable: ", responsable);
        console.log("Comentario: ", comentario);

        $.ajax({
            url: '/verificar_tarjeta/' + NumTarjeta,
            type: 'GET',
            success: function(response) {
                if (response.ID === 1) {
                    // La tarjeta existe, ahora puedes continuar con la creación
                    console.log("La tarjeta existe en la base de datos. Mostrar el modal.");
                    $('#NumTarjetaT').text(NumTarjeta);
                    $('#errorModalT').modal('show');
                    
                } else {
                    // La tarjeta no existe, mostrar un modal de error
                    console.log("La tarjeta no existe en la base de datos. Continuar con el proceso.");
                    createTarjeta(clienteId, productoId, cantidad, tipoCompromiso, ciudad, responsable, comentario);
                }
            },
            error: function(xhr, status, error) {
                console.error('Error:', error, status, xhr.responseText);
            }
        });

        function createTarjeta(clienteId, productoId, cantidad, tipoCompromiso, ciudad, responsable, comentario) {
          var formDataTarjeta = $('#formDetallesTarjeta').serializeArray().reduce(function(obj, item) {
            obj[item.name] = item.value;
            return obj;
        }, {});
        formDataTarjeta['accion'] = 'crear_encabezado';
        formDataTarjeta['clienteId'] = clienteId;
        formDataTarjeta['Cantidad'] = cantidad;
        formDataTarjeta['tipoCompromiso'] = tipoCompromiso;
        formDataTarjeta['Ciudad'] = ciudad;
        formDataTarjeta['Responsable'] = responsable;
        formDataTarjeta['Comentario'] = comentario;

        $.ajax({
            url: '/menu/tarjetas/crear/' + usuarioConectado,
            type: 'POST',
            data: JSON.stringify(formDataTarjeta),
            contentType: 'application/json',
            success: function(response) {
                if (response.message && response.encabezadoId) {
                    var encabezadoId = response.encabezadoId;
                      // Muestra el ID en el modal
                      $('#encabezadoId').text(encabezadoId);
                              
                      // Muestra el modal
                      $('#successModal').modal('show');
                    $.ajax({
                        url: '/menu/tarjetas/crear/' + usuarioConectado,
                        type: 'POST',
                        data: JSON.stringify({ accion: 'crear_detalle', encabezadoId: encabezadoId, 
                                                                        productoId: productoId , 
                                                                        cantidad: cantidad,
                                                                        ciudad: ciudad,
                                                                        responsable: responsable,
                                                                        comentario: comentario                                                                      
                                                                      }),
                        contentType: 'application/json',
                        success: function(response) {
                            if (response.message) {
                                //alert("Tarjeta y detalles creados con éxito.");
                                resetFormFields();
                            }
                        },
                        error: function(xhr, status, error) {
                            console.error('Error:', error, status, xhr.responseText);
                        }
                    });
                }
            },
            error: function(xhr, status, error) {
                console.error('Error:', error, status, xhr.responseText);
            }
        });
    }
    });
});

// utilidades victor


function convertirAMayusculas(campo) {
    campo.value = campo.value.toUpperCase();
}

$(document).ready(function() {
    $('#collapseNuevoCliente').on('shown.bs.collapse', function () {
        $('#campoinicial').focus();
    });
});


</script>


{% endblock %}
