{% include 'menu.html' %}

{% block content %}
<input type="hidden" id="usuarioConectado" value="{{ usuario }}">

<div class="container mt-4">
    <!-- Input para buscar por número de tarjeta -->
    <div class="form-group">
        <label for="numeroTarjeta">Número de Tarjeta:</label>
        <input type="text" class="form-control" id="numeroTarjeta">
        <button id="buscarBtn" class="btn btn-primary mt-2">Buscar</button>
    </div>

    <div class="row mb-3">
        <div class="col-12">
            <h4 class="text-center mb-2">Encabezado:</h4>
            <div class="row">
                <!-- Grupo 1 -->
                <div class="col-md-4">
                    <div class="card mb-3 card-effect">
                        <div class="card-body">
                            <p><strong>Nº Fac:</strong> <span id="nfac"></span></p>
                            <p><strong>F. Venta:</strong> <span id="fventa"></span></p>
                            <p><strong>Vendedor:</strong> <span id="Vendedor"></span></p>
                            <p><strong>Responsable:</strong> <span id="Responsable"></span></p>                            
                            <p><strong>Periosidad de cobro:</strong> <span id="periosidaddecobro"></span></p>
                            <p><strong>Cerrado:</strong> <span id="Cerrado"></span></p>
                        </div>
                    </div>
                </div>
                <!-- Grupo 2 -->
                <div class="col-md-4">
                    <div class="card mb-3 card-effect">
                        <div class="card-body">
                            <p><strong>Nombre:</strong> <span id="nombre"></span></p>
                            <p><strong>Apellido:</strong> <span id="apellido"></span></p>
                            <p><strong>DNI:</strong> <span id="dni"></span></p>
                            <p><strong>Telefono:</strong> <span id="telefono"></span></p>
                            <p><strong>Direccion:</strong> <span id="direccion"></span></p>
                            <p><strong>Ciudad:</strong> <span id="ciudad"></span></p>
                        </div>
                    </div>
                </div>
                <!-- Grupo 3 -->
                <div class="col-md-4">
                    <div class="card mb-3 card-effect">
                        <div class="card-body">
                            <p><strong>Importe Venta:</strong> <span id="importeventa"></span></p>
                            <p><strong>Importe Inicial:</strong> <span id="importeinicial"></span></p>
                            <p><strong>Imp Pendiente:</strong> <span id="importependiente"></span></p>
                            <p><strong>Imp Cuotas Pagadas:</strong> <span id="impcuotaspagadas"></span></p>
                            <p><strong>Nº Cuotas Pagadas:</strong> <span id="ncuotaspagadas"></span></p>
                            <p><strong>F. Proxima Cuota:</strong> <span id="fproximacuota"></span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12">    
            <p><strong>Comentario:</strong> <span id="comentario"></span></p>
        </div>
    </div>



    <!-- Productos -->
    <div id="tablaProductosDiv" class="row mb-3">
        <div class="col-12">
            <h4 class="text-center mb-2">Productos:</h4>
            <div class="table-responsive">
                <!-- Aquí se insertará la tabla de productos -->
            </div>
        </div>
    </div>



    <!-- Tabla para mostrar información de cuotas -->
    <div class="table-responsive">
        <table class="table table-striped mt-4" id="tablaCuotas">
            <thead>
                <tr>
                    <th>Cobrador</th>
                    <th>NumTarjeta</th>
                    <th>Nº Cuota</th>
                    <th>F.Pago</th>
                    <th>Abono</th>
                    <th>Saldo</th>
                    <th>Liquidado</th>
                </tr>
            </thead>
            <tbody>
                <!-- Las filas se llenarán dinámicamente -->
            </tbody>
        </table>
    </div>
    <button type="button" id="crearCobroBtn" class="btn btn-primary" style="display: none;">Crear Cobro</button>

    <!-- Modal para crear cobro -->
    <div class="modal fade" id="crearCobroModal" tabindex="-1" role="dialog" aria-labelledby="crearCobroModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="crearCobroModalLabel">Crear Cobro</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="formCrearCobro">
                        <div class="form-group">
                            <label for="medioPago">Medio de Pago:</label>
                            <select class="form-control" id="medioPago">
                                <!-- Las opciones se llenarán dinámicamente -->
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="FechaPago">Fecha de Pago:</label>
                            <input type="text" class="form-control" id="FechaPago" required>
                        </div>
                        <div class="form-group">
                            <label for="FechaProxPago">Fecha del Proximo Pafo:</label>
                            <input type="text" class="form-control" id="FechaProxPago" required>
                        </div>
                        <div class="form-group">
                            <label for="NumCuota">Nº Cuota:</label>
                            <input type="text" class="form-control" id="NumCuota" readonly>
                        </div>
                        <div class="form-group">
                            <label for="Abono">Abono:</label>
                            <input type="number" class="form-control" id="Abono" name="Abono" min="0" required>
                            <span id="abonoFormateado"></span>

                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="liquidado" name="liquidado">
                                <label class="form-check-label" for="liquidado">Liquidado</label>
                            </div>

                        </div>
                        <div class="form-group">
                            <label for="calculo">Saldo:</label>
                            <input type="text" class="form-control" id="calculo" readonly>
                            <span id="calculoFormateado"></span>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" id="guardarCobroBtn">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var IdVentaEncabezado = null;
    function buscarTarjeta(numeroTarjeta) {


        $.ajax({
            url: `/get_tarjeta/${numeroTarjeta}`,
            type: 'GET',
            success: function (response) {
                $('#tablaCuotas tbody').empty();
                IdVentaEncabezado = response.encabezado.Id;

                $.ajax({
                    url: `/get_prod_tarjeta/${numeroTarjeta}`,
                    type: 'GET',
                    success: function (responseProd) {
                        var encabezado = responseProd.encabezado[0];
                        var productos = responseProd.productos;
                        // Suponiendo que encabezado['F. Proxima Cuota'] es una cadena de fecha reconocible por JavaScript

                        if (encabezado) {
                            var fecha = new Date(encabezado['F. Proxima Cuota']);

                            // Formatear la fecha a aaaa-mm-dd
                            var fechaFormateada = fecha.toISOString().split('T')[0];
                            $('#nfac').text(encabezado['Nº Fac']);
                            $('#fventa').text(encabezado['F. Venta']);
                            $('#Vendedor').text(encabezado.Vendedor);
                            $('#periosidaddecobro').text(encabezado['Periosidad de cobro']);
                            $('#Cerrado').text(encabezado.Cerrado);

                            $('#nombre').text(encabezado.Nombre);
                            $('#apellido').text(encabezado.Apellido);
                            $('#dni').text(encabezado.DNI);
                            $('#telefono').text(encabezado['Teléfono']);
                            $('#direccion').text(encabezado['Dirección']);

                            $('#importeventa').text(encabezado['Importe Venta']);
                            $('#importeinicial').text(encabezado['Importe Inicial']);
                            $('#importependiente').text(encabezado['Imp Pendiente']);
                            $('#impcuotaspagadas').text(encabezado['Imp Cuotas Pagadas']);
                            $('#ncuotaspagadas').text(encabezado['Nº Cuotas Pagadas']);
                            $('#fproximacuota').text(fechaFormateada);
                            $('#Ciudad').text(ciudad);
                            $('#Responsable').text(responsable);
                            $('#Comentario').text(comentario);
                        } else {
                            alert('No hay datos de encabezado para mostrar.');
                        }

                        if (productos) {
                            var tabla = '<table class="table table-striped table-bordered table-relief"><thead><tr>';
                            if (productos.length > 0) {
                                for (var key in productos[0]) {
                                    tabla += `<th>${key}</th>`;
                                }
                                tabla += '</tr></thead><tbody>';

                                // Añadir filas de la tabla
                                productos.forEach(function (producto) {
                                    tabla += '<tr>';
                                    for (var key in producto) {
                                        tabla += `<td>${producto[key]}</td>`;
                                    }
                                    tabla += '</tr>';
                                });

                                tabla += '</tbody></table>';

                                // Insertar la tabla en el div
                                $('#tablaProductosDiv .table-responsive').html(tabla);
                            } else {
                                $('#tablaProductosDiv .table-responsive').html('<p class="text-center">No hay resultados de productos para mostrar.</p>');
                            }
                        } else { }

                    },
                    error: function (xhr, status, error) {
                        alert('Error al buscar los datos del encabezado y productos.');
                    }
                });



                // Obtener el cálculo y la suma de abonos
                $.ajax({
                    url: `/get_calculo/${IdVentaEncabezado}`,
                    type: 'GET',
                    success: function (responseCalculo) {
                        calculoInicial = responseCalculo.calculo;
                        $('#calculo').val(calculoInicial);

                        // Formatear el cálculo y mostrarlo inicialmente
                        var calculoFormateado = '$' + calculoInicial.toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 });
                        $('#calculoFormateado').text(calculoFormateado);

                    }
                });

                response.cuotas.forEach(function (cuota) {
                    var fila = `<tr>
                        <td>${cuota.cobrador}</td>
                        <td>${response.encabezado.NumTarjeta}</td>
                        <td>${cuota.NumCuota}</td>
                        <td>${cuota.FechaPago}</td>
                        <td>${cuota.Abono}</td>
                        <td>${cuota.Saldo}</td>
                        <td>${cuota.Liquidado}</td>
                    </tr>`;
                    $('#tablaCuotas tbody').append(fila);
                });

                var maxCuota = Math.max(...response.cuotas.map(c => c.NumCuota), 0) + 1;
                $('#NumCuota').val(maxCuota);
            },
            error: function (xhr, status, error) {
                alert('Error al buscar tarjeta.');
            }
        });

        // Evento para actualizar el campo Calculo cuando se cambia el valor en Abono
        $('#Abono').on('input', function () {
            var abono = parseFloat($(this).val()) || 0;
            if (abono > calculoInicial) {
                alert('El abono no puede ser mayor al cálculo.');
                $(this).val(calculoInicial);  // Establecer el abono al valor máximo permitido
                abono = calculoInicial;
            }
            var calculoFinal = calculoInicial - abono;
            $('#calculo').val(calculoFinal);

            // Formatear el cálculo y mostrarlo
            var calculoFormateado = '$' + calculoFinal.toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 });
            $('#calculoFormateado').text(calculoFormateado);

            // Formatear y mostrar el abono
            var abonoFormateado = '$' + abono.toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 });
            $('#abonoFormateado').text(abonoFormateado);
        });
    }

    $(document).ready(function () {
        var usuarioConectado = $('#usuarioConectado').val();
        var calculoInicial = 0;
        var numeroTarjetaGlobal = 0;

        $('#buscarBtn').click(function () {
            numeroTarjetaGlobal = $('#numeroTarjeta').val();
            if (!numeroTarjetaGlobal) {
                alert('Por favor, ingrese un número de tarjeta.');
                return;
            }

            // Llamada a la función buscarTarjeta
            buscarTarjeta(numeroTarjetaGlobal);
        });

        $('#crearCobroBtn').show();

        // Obtener los medios de pago
        $.ajax({
            url: '/get_medios_pago',
            type: 'GET',
            success: function (response) {
                response.medios.forEach(function (medio) {
                    $('#medioPago').append(new Option(medio.Nombre, medio.Id));
                });
            }
        });

        // Inicializar el calendario para FechaPago
        flatpickr("#FechaPago", {
            dateFormat: "Y-m-d"
        });

        flatpickr("#FechaProxPago", {
            dateFormat: "Y-m-d"
        });

        // Buscar tarjeta y cuotas asociadas

        $('#crearCobroBtn').click(function () {
            $('#crearCobroModal').modal('show');


        });

        $('#guardarCobroBtn').click(function () {
            var medioPago = $('#medioPago').val();
            var fechaPago = $('#FechaPago').val();
            var fechaproxpago = $('#FechaProxPago').val();
            var numCuota = $('#NumCuota').val();
            var abono = $('#Abono').val();
            var liquidado = $('#liquidado').is(':checked') ? 1 : 0;
            var calculo = $('#calculo').val();

            if (!calculo) {
                alert("El valor del cálculo está vacío");
                return;
            }

            $.ajax({
                url: `/menu/cobros/crear/` + usuarioConectado,
                type: 'POST',
                data: {
                    medioPago: medioPago,
                    fechaPago: fechaPago,
                    fechaproxpago: fechaproxpago,
                    numCuota: numCuota,
                    abono: abono,
                    liquidado: liquidado,
                    calculo: calculo,
                    IdVentaEncabezado: IdVentaEncabezado
                },
                success: function (response) {
                    alert(response.message);
                    $('#crearCobroModal').modal('hide');
                    buscarTarjeta(numeroTarjetaGlobal);
                },
                error: function (xhr, status, error) {
                    alert('Error al crear el cobro.');
                }
            });

            // Clearing the form fields in the modal
            $('#medioPago').val('');
            $('#FechaPago').val('');
            $('#FechaProxPago').val('');
            $('#NumCuota').val('');
            $('#Abono').val('');
            $('#liquidado').prop('checked', false);
            $('#calculo').val('');
            console.log('Formulario del modal limpiado');  // Debugging message
            console.log(numeroTarjetaGlobal)
            // Refrescar la información

        });
    });

</script>
{% endblock %}