{% include 'menu.html' %}

{% block content %}
<div class="container-fluid">
    <hr>
    <h4>Cuotas del Día</h4>

    <form method="post" action="{{ url_for('cuotas_dia', usuario=usuario) }}" class="mb-3">
        <div class="form-group">
            <label for="selected_date">Seleccionar Fecha:</label>
            <input type="date" id="selected_date" name="selected_date" class="form-control" value="{{ selected_date }}">
        </div>
        <button type="submit" class="btn btn-primary">Ver Cuotas</button>
    </form>

    {% if cuotas_por_producto %}
    <h4>Cuotas para: {{ selected_date }}</h4>
    <hr>
    {% for producto, cuotas in cuotas_por_producto.items() %}
    <h5>Producto: {{ producto }} Total: {{ cuotas|length }}</h5>
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-sm">
            <thead class="thead-light">
                <tr>
                    <th>FProx Cuota</th>
                    <th>Actualizar Fecha</th>
                    <th>Acción</th>
                    <th>NumTarjeta</th>
                    <th>Responsable</th>
                    <th>FVenta</th>
                    <th>Importe Venta</th>
                    <th>Importe Inicial</th>
                    <th>Importe Abonos</th>
                    <th>Num Cuotas</th>
                    <th>DNI</th>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Teléfono</th>
                    <th>Pospuesta</th>
                    <th>FUpdPospuesta</th>
                </tr>
            </thead>
            <tbody>
                {% for venta, cliente in cuotas %}
                <tr>
                    <td class="text-nowrap">{{ venta.FProxCuota }}</td>
                    <td>
                        <form method="post" action="{{ url_for('cuotas_dia', usuario=usuario, selected_date=selected_date) }}">
                            <input type="hidden" name="update_id" value="{{ venta.Id }}">
                            <input type="date" name="new_date_{{ venta.Id }}" class="form-control" required max="{{ max_date }}">
                    </td>
                    <td>
                            <button type="submit" class="btn btn-success btn-sm">Actualizar</button>
                        </form>
                    </td>
                    <td>{{ venta.NumTarjeta }}</td>
                    <td>{{ venta.Responsable }}</td>
                    <td class="text-nowrap">{{ venta.FVenta }}</td>
                    <td class="text-nowrap">{{ venta.ImporteVenta }}</td>
                    <td class="text-nowrap">{{ venta.ImporteInicial }}</td>
                    <td class="text-nowrap">{{ venta.ImporteAbonos }}</td>
                    <td>{{ venta.NumCuotas }}</td>
                    <td>{{ cliente.DNI }}</td>
                    <td>{{ cliente.Nombres }}</td>
                    <td>{{ cliente.Apellidos }}</td>
                    <td>{{ cliente.Telefono1 }}</td>
                    <td>{{ venta.Pospuesta }}</td>
                    <td class="text-nowrap">{{ venta.FUpdPospuesta }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <hr>
    {% endfor %}
    {% else %}
    <p>No hay cuotas para esta fecha.</p>
    {% endif %}
</div>
{% endblock %}

<style>
    @media (max-width: 768px) {
        h2 {
            font-size: 1.5rem;
        }
        table thead th, table tbody td {
            font-size: 0.9rem;
        }
        .table-responsive {
            overflow-x: auto;
        }
    }

    .table th, .table td {
        vertical-align: middle;
    }

    .form-control {
        max-width: 200px;
    }
</style>
